#heading-section {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url('https://cdn.pixabay.com/photo/2017/10/26/17/46/film-2891854_960_720.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


img {
  width: 190px;
  height: 240px;
}