#heading-section {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url('https://media.istockphoto.com/photos/popcorn-and-clapperboard-picture-id1191001701?k=6&m=1191001701&s=612x612&w=0&h=zQ6vP0lTy7CnXu-HbTZj8a20XcXc2x--lS0WtUt9c-A=');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


img {
  width: 190px;
  height: 240px;
}